@tailwind base;
@tailwind components;
@tailwind utilities;

/* li{
  padding:  0 20px;
  position: relative;
} */

li:hover {
  color: rgb(8, 148, 66);
}
li:hover::after,
li.active::after {
  content: "";
  width: 40%;
  height: 2px;
  background: rgb(8, 148, 66);
  position: absolute;
  bottom: -4px;
  left: 0;
}

li {
  position: relative;
}

#kete {
  background-image: url("./assets/Kete.png");
}
@media only screen and (max-width: 850px) {
  ul {
    margin-top: 70px;
    height: 100vh;
    width: 400px;
    font-size: medium;
    font-weight: 900;
    position: fixed;
    right: -150px;
    background: rgb(248, 248, 248);
    padding: 28px 0 0 10px;
  }

  active {
    right: -100px;
  }
  .navLogo {
    height: 15%;
    width: 15%;
  }

  li:hover::after,
  li.active::after {
    content: "";
    width: 10%;
    height: 2px;
    background: rgb(8, 148, 66);
    position: absolute;
    bottom: -4px;
    left: 0;
  }

  ul li {
    margin-bottom: 6px;
  }

  .svg {
    display: contents;
  }
}
